Resources:
  MongoSecurityGroup:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      GroupName: "CSCL-sg"
      GroupDescription: "Lock MongoDB down to webserver access only"
      SecurityGroupIngress :
        - IpProtocol : "tcp"
          FromPort :
            Fn::GetOptionSetting:
              OptionName : "MongoPort"
              DefaultValue: "27017"
          ToPort :
            Fn::GetOptionSetting:
              OptionName : "MongoPort"
              DefaultValue: "27017"
          SourceSecurityGroupName:
            Ref: "AWSEBSecurityGroup"
  
  MongoServer:
    Type: AWS::EC2::Instance
    Properties: 
      ImageId: 
        Fn::GetOptionSetting: 
          OptionName: "MongoAmi"
      InstanceType: 
        Fn::GetOptionSetting:
          OptionName: "MongoServerType"
          DefaultValue: "t3.micro"
      KeyName:
        Fn::GetOptionSetting:
          OptionName: "SshKeyName"
      Monitoring: true
      SecurityGroupIds: 
        - Ref: "MongoSecurityGroup"
      Tags:
        - "Key" : "Name"
          "Value" : "CSCL_DB"

Outputs:
  MongoDBServer:
    Description : "ID of EC2 Instance Running MongoDB"
    Value :
      Ref : "MongoServer"
  MongoDBServerIP:
    Description: "IP Address of EC2 Instance Running MongoDB"
    Value:
      Fn::GetAtt: ["MongoServer", "PrivateIp"]