Resources:
  HTTPSProxy:
    Type: AWS::ApiGatewayV2::Api
    Properties:
      Name: CSCL-HTTPS-Proxy
      Description: Proxies HTTPS requests to CSCL API which only supports HTTP
      ProtocolType: HTTP
      RouteKey: "ANY /{proxy+}"
      Target:
        Fn::Sub:
          - http://${lbDomain}/{proxy}
          - lbDomain:
              Fn::GetAtt: ["AWSEBLoadBalancer", "DNSName"]
